body {
    background-color: #9A616D;
  }

  .btn{
    background-color: black;
  }

.vert-move {
    -webkit-animation: mover 1.5s infinite  alternate;
    animation: mover 1.5s infinite  alternate;
}
.vert-move {
    -webkit-animation: mover 1.5s infinite  alternate;
    animation: mover 1.5s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(20px); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(20px); }
    100% { transform: translateY(-10px); }
}