
@media only screen and (max-width: 600px) {
    .add-product {
      height: 140vh;
    }
  }

.add-product form{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
.add-product form input{
        width: 65%;
        padding: 5px;
        border-radius: 10px;
        font-weight: 600;
    }

    .submit-btn:hover{
        background-color: rgb(250, 53, 53);
        color: white;
        font-weight: 900;
        transition: 0.5s;

    }