.add-product form{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
.add-product form input{
        width: 40%;
        margin-bottom: 5px;
        padding: 10px;
        border-radius: 10px;
        font-weight: 600;
    }

    .submit-btn:hover{
        background-color: goldenrod;
        color: white;
        font-weight: 700;
        transition: 0.5s;
    }

.add-product{
    padding-top: 70px;
    background-image: url('');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:90vh ;
}