/* .banner {
    background: linear-gradient(#000000b3, #000000ab),
      url("https://i.ibb.co/gtPQ7Qk/african-business-male-people-shaking-hands-1.jpg");
    background-attachment: fixed;
    font-family: 'Alfa Slab One', cursive;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  } */

  .banner{
    position: relative;
    background: linear-gradient(#000000b3, #000000ab),
      url("https://i.ibb.co/gtPQ7Qk/african-business-male-people-shaking-hands-1.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'sans-serif';
    font-weight: 800;
    
    height: 90vh;

  }
  .banner h1{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
    font-weight: 900;
    font-size: 10vh;
  }

  .bannerBtn{
    background-color : transparent;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    transition: all .5s ease;
  }

  .bannerBtn:hover{
    background-color: #FFFFFF;
    color: #000000;
    
  }

  .custom-shape-divider-bottom-1665992396 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1665992396 svg {
    position: relative;
    display: block;
    width: calc(150% + 2.5px);
    height: 63px;
}

.custom-shape-divider-bottom-1665992396 .shape-fill {
    fill: #FFFFFF;
}